<form
  class="registration-form"
  (ngSubmit)="submit()"
  [formGroup]="registrationForm"
  *ngIf="
    registrationResolverOutput.isRegistrationFormConfigValid;
    else errorTemplate
  ">
  <div
    class="form-field"
    *ngFor="let field of registrationResolverOutput.registrationFieldList">
    <input
      class="form-field__input"
      type="text"
      [attr.placeholder]="field.label + (field.required ? ' *' : '')"
      [formControlName]="field.name" />
    <p
      class="form-field__error"
      *ngIf="
        registrationForm.get(field.name)?.touched &&
        getFirstErrorOfFormControl(field.name) as error
      ">
      {{ error }}
    </p>
  </div>
  <button
    class="registration-form__submit-button"
    [disabled]="registrationForm.invalid">
    Submit
  </button>
</form>
<ng-template #errorTemplate>Seems like the config is not valid!</ng-template>
